
body{
    background-color: #8c8c8c;
}

header{
    width: 100%;
    background-color: #0066ff;
}

#logo{
    margin-top: 1em;
    margin-bottom: 0.6em;
    margin-left: 0.5em;
    width: 10em;
}

#name{
    display: inline;
    color: white;
    font-family: sans-serif;
    margin-left: 14.6em;
    font-size: 60pt;
}

@media screen and (max-width: 768px){ /* iPad Display Width */
    #name{
        margin-left: 20vw;
        font-size: 60px;
    }
}

@media screen and (max-width: 375px){ /* iPhone X Display Width */
    #name{
        margin-left: 0.01em;
        font-size: 33px;

    }
}

nav{
    text-align: right;
}

.navlinks{
    background-color: #4d94ff;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

@media screen and (max-width: 768px){ /* iPad Display Width */
    .navlinks{
        padding-top: 0.75em;
        padding-bottom: 0.75em;
    }
}

@media screen and (max-width: 375px){ /* iPhone X Display Width */
    .navlinks{
        float: left;
        padding-left: 0.545em;
        padding-right: 0.545em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-right-style: solid;
        border-left-style: solid;
        border-width: 0.05em;
        border-color: #0066ff;
    }
}

.navlinks:hover, .navlinks:active{
    background-color: #0066ff;   
}

#popularlinks{
    background-color: white;
    width: 40%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 1em;
    margin-left: 26em;
}

@media screen and (max-width: 768px){ /* iPad Display Width */
    #popularlinks{
        width: 100%;
        margin-left: 0em;
    }
}

@media screen and (max-width: 375px){ /* iPhone X Display Width */
    #popularlinks{
        width: 100%; 
        margin-top: 4em;
    }
}

#populartag{
    margin-left: 1em;
    margin-right: 2em;
    display: inline;
    font-family: sans-serif;
    font-weight: bold;
    color: #0066ff;
}

@media screen and (max-width: 375px){ /* iPhone X Display Width */
    #populartag{
        margin-right: 0.5em;
    }
}

.popular{
    display: inline;
    text-decoration: none;
    margin-left: 1.5em;
    background-color: white;
}

@media screen and (max-width: 375px){ /* iPhone X Display Width */
    .popular{
        margin-left: 0.7em;
    }
}

.popular:link, .popular:visited{
    font-weight: bold;
    color: #1a1a1a;
}

h5{
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 18pt;
    border-style: solid;
    border-color: #0066ff;
    background-color: #0066ff;
    border-radius: 1em;
}

.columnleft{
    display: inline;
    background-color: #e6e6e6;
    width: 40em;
    float: left;
    margin-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
    Margin-left: 26em;
}

@media screen and (max-width: 768px){ /* iPad Display Width */
    .columnleft{
        display: inline;
        background-color: #e6e6e6;
        width: 20em;
        float: left;
        margin-top: 5em;
        padding-left: 1em;
        padding-right: 1em;
        Margin-left: 3em;
    }
}

@media screen and (max-width: 375px){ /* iPhone X Display Width */
    .columnleft{
        display: inline;
        background-color: #e6e6e6;
        width: 18.5em;
        float: left;
        margin-top: 2em;
        padding-left: 1em;
        padding-right: 1em;
        Margin-left: 1em;
    }
}

.guideslink{
    text-decoration: none;
    color: black;
}

.guideslink:hover, .guideslink:active{
    color: #0066ff;
}

.guidesheading{
    font-family: sans-serif;
    font-size: 12pt;
}

.guidesimg{
    width: 40em;
}

@media screen and (max-width: 768px){ /* iPad Display Width */
    .guidesimg{
        width: 20em;
    }
}

@media screen and (max-width: 375px){ /* iPhone X Display Width */
    .guidesimg{
        width: 18.5em;
    }
}

.columnright{
    display: inline;
    background-color: #e6e6e6;
    width: 20em;
    float: right;
    margin-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
    Margin-right: 26em;
}

@media screen and (max-width: 768px){ /* iPad Display Width */
    .columnright{
        display: inline;
        background-color: #e6e6e6;
        width: 15em;
        float: right;
        margin-top: 5em;
        padding-left: 1em;
        padding-right: 1em;
        margin-right: 3em;
    }
}

@media screen and (max-width: 375px){ /* iPhone X Display Width */
    .columnright{
        display: inline;
        background-color: #e6e6e6;
        width: 18.5em;
        float: left;
        margin-top: 2em;
        padding-left: 1em;
        padding-right: 1em;
        Margin-left: 1em;
    }
}

.newslink{
    text-decoration: none;
    color: black;
}

.newslink:hover, .newslink:active{
    color: #0066ff;
}

.newsimg{
    width: 20em;
    height: 15em;
    margin-top: -1em;
}

@media screen and (max-width: 768px){ /* iPad Display Width */
    .newsimg{
        width: 15em;
        height: 10em;
    }
}

@media screen and (max-width: 375px){ /* iPhone X Display Width */
    .newsimg{
        width: 18.5em;
    }
}

.newsheading{
    font-family: sans-serif;
    font-size: 14pt;
    margin-top: -0.5em;
}

.newstext{
    font-size: 12pt;
}

footer{
    clear: both;
    position: relative;
    border-style: solid;
    border-width: 0.05em;
    border-color: #737373;
    height: 5em;
}

.backtotop{
    position: relative;
    margin-left: 55em;
    color: #737373;
    text-decoration: none;
}

@media screen and (max-width: 768px){ /* iPad Display Width */
    .backtotop{
        margin-left: 20em;
    }
}

@media screen and (max-width: 375px){ /* iPhone X Display Width */
    .backtotop{
        margin-left: 9em;
    }
}

.backtotop:hover, .backtotop:active{
    color: #404040;
}

.footertext{
    text-align: center;
}

a{
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
}
